fastapi
uvicorn[standard]
pydantic
pydantic-settings

httpx
PyGithub

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

pymongo

docling

python-dotenv

tree-sitter

langchain-huggingface
sentence-transformers